/* This section outlines the basic properties of the body */

.body {
	margin: 0px;
	display: block;
	background-image: url('../../assets/images/escheresque_ste_@2X.png');
}

/* This section outlines the header box that goes across the entire 
top of the page */

.header {
	background-color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
	width: 100%;
	height: 89px;
	margin: 0px;
}

/*This controls the box that holds my name in the header */

.name{
	float: left;
	background-color: #4aaaa5;
	text-align: center;
	padding: 1px;
	padding-top: 15px;
	width: 35%;
	color: white;
	z-index: 3;
	height: 40px;
	margin-left: 75px;
	font-size: 30px;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

/* This outlines the behavior of the heading tags */

h1 {
	float: left;
	text-align: center;
	background-color: #4aaaa5;
	margin-bottom: 0px;
	margin-left: 22px;
	margin-top: 33px;
	padding: 15px;
	font-size: 30px;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
	float: left;
	background-color: white;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
	margin-right: 15%;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 15px;
	width: 95%;
	margin-top: 15px;
	font-size: 25px;
	font-weight: bold;
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h3 {
	top: 100px;
	right: 130px;
	margin-right: 3%;
	margin-left: 3%;
	padding-left: 20%;
	padding-right: 25%;
	padding-bottom: 17px;
	padding-top: 5px;
	margin-top: 15px;
	text-align: center;
	font-size: 18px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
	border-bottom-width: 2px;
	float: right;
	font-weight: bold;
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

/* This tells the link anchors to behave a certain way */

a {
	text-decoration: none;
	font-size: 15px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a:link {
	color: #777777;
}

a:visited {
	color: #777777;
}

/* These link sections affect the behavior of the page links in the
header section */

.links {
	float: right;
	width: 100px;
	height: 20px;
	text-align: center;
	margin-right: 10px;
	border-left-color: #777777;
	border-left-width: 1px;
	border-left-style: solid;
	text-decoration: none;
	margin-top: 40px;
	border-right: #777777;
	background-color: white;
}

.links2 {
	float: right;
	width: 100px;
	height: 20px;
	text-align: center;
	right: 35px;
	text-decoration: none;
	margin-top: 40px;
	border-right: #777777;
	background-color: white;
}

/* These different tags govern the behavior of the Content section*/

.content {
	width: 52%;
	float: left;
	margin-top: 15px;
	margin-left: 70px;
	padding-left: 15px;
	padding-right: -5px;
	border-width: 2px;
	border-color: #dddddd;
	border-style: solid;
	background-color: white;
	overflow: auto;
	height: 600px;
}

/* These control the content on the About Me page */

.picture {
	float: left;
	width: 200px;
	height: 200px;
	margin-top: 15px;
	margin-left: 25px;
}

.text {
	clear: right;
	padding-left: 235px;
	margin-right: 15px;
	margin-top: 80px;
	padding-right: 5%;
	width: 60%
	color: #777777;
}

/* The following controls the form output on the Contact page */

.form {
	padding-left: 15px;
	padding-bottom: 5px;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/*These three contact classes were added to make form control easier */

.contact-name {
	width: 80%
}

.contact-email {
	width: 80%
}

.contact-message {
	width: 80%;
	height: 250px;
}

.button {
	background-color: #4aaaa5;
	border: none;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: large;
	text-decoration: none;
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100px;
}

/* These two control the location of the pictures and links in the
content section of the Portfolio page */

.portfolio-links {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	height: 205px;
}

.text-links {
	background-color: #4aaaa5;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 1;
	position: relative;
	top: -50px;
}

/*This section controls the right-handed link content*/

.aside {
	float: right;
	min-width: 290px;
	max-width: 330px;
	height: 200px;
	margin-right: 3%;
	margin-top: 15px;
	margin-left: 5px;
	border-color: #dddddd;
	border-width: 2px;
	border-style: solid;
	background-color: white;
}

/* These blocks control the Connect With Me section on the right
side of the main body */

.connect {
	padding: 5px;
}

.link-box {
	float: right;
	padding-top: 5px;
	margin-top: 20px;
	margin-right: 15%;
	margin-left: 15%;
}

/*These footer tags keep the copyright at the bottom of the page */

.content-wrapper:after {
	content: "";
	display: block;
	clear: both;
	height: 55px;
	padding-top: 50px;
}

.footer-box {
	position: fixed;
	margin: 0px;
}

.footer {
  	width: 100%;
  	background-color: #666666;
  	color: white;
  	border-top-width: 5px;
  	border-top-style: solid;
  	border-top-color: #4aaaa5;
  	height: 50px;
  	text-align: center;
  	padding-top: 15px;
  	z-index: 1;
 	bottom: 0px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* The following section defines media queries at 960px, 768px, and
640px*/

@media screen and (max-width: 960px) and (min-width: 769px) {
	/* These control the header boxes on the About Me page */

	.name{
		float: left;
		width: 35%;
		margin-left: 12px;
	}	

	.links {
		float: right;
		width: 60px;
		height: 20px;
		text-align: center;
		text-decoration: none;
		border-right-color: white;
		border-left-color: white;
		margin-top: 50px;
		background-color: white;
		margin-right: 5px;
	}

	.links2 {
		float: right;
		width: 60px;
		height: 20px;
		text-align: center;
		text-decoration: none;
		border-right-color: white;
		border-left-color: white;
		margin-top: 50px;
		background-color: white;
		margin-right: 5px;
	}

/* These control the content and aside sections of the About Me page*/

/* These control the text of the Main content*/

	h2 {
		margin-bottom: 15px;
	}

	.content {
		width: 55%;
		height: 120%;
		margin-left: 10px;
		height: 700px;
	}

	.picture {
		float: left;
		width: 90%;
		height: 400px;
		margin-top: 15px;
		margin-left: 25px;
	}

	.text {
		clear: auto;
		padding-left: 5px;
		margin-right: 5px;
		margin-top: 405px;
		padding-right: 5%;
		line-height: 25px;
		width: 90%
		color: #777777;
	}

/* This section controls the content for the Contact page */

	.contact-name {
		width: 90%
	}

	.contact-email {
		width: 90%
	}

	.contact-message {
		width: 90%;
		height: 200px;
	}

/* These control the Connect With Me aside portion */

	.aside {
		float: right;
		width: 30%;
		margin-left: 0px;
		min-width: none;
		max-width: none;
	}

	h3 {
		text-align: center;
		margin-top: 15px;
		margin-left: 5px;
		margin-bottom: 10px;
		margin-right: 5px;
		padding-left: 60px;
		padding-right: 60px;
	}

	.link-box {
		width: 95%;
		float: none;
		margin-top: 5px;
		margin-left: 35px;
		padding-top: 1px;
	}

	.connect {
		float: left;
		margin-left: 0px;
		padding: 5px;
	}
}


@media screen and (max-width: 768px) and (min-width: 641px) {

/* These control the header boxes on the About Me page */

	.name{
		float: left;
		width: 38%;
		margin-left: 12px;
	}	

	.links {
		float: right;
		width: 60px;
		height: 20px;
		text-align: center;
		text-decoration: none;
		border-right-color: white;
		border-left-color: white;
		margin-top: 50px;
		background-color: white;
		margin-right: 5px;
	}

	.links2 {
		float: right;
		width: 60px;
		height: 20px;
		text-align: center;
		text-decoration: none;
		border-right-color: white;
		border-left-color: white;
		margin-top: 50px;
		background-color: white;
		margin-right: 5px;
	}

/* These control the content and aside sections of the About Me page*/

/* These control the text of the Main content*/

	h2 {
		margin-bottom: 15px;
	}

	.content {
		width: 96%;
		float: left;
		margin-top: 15px;
		margin-left: 15px;
		margin-right: 15px;
		padding-left: 5px;
		padding-right: 0px;
		border-width: 2px;
		border-color: #dddddd;
		border-style: solid;
		background-color: white;
		height: 120%;
	}

	.picture {
		float: left;
		width: 90%;
		height: 400px;
		margin-top: 15px;
		margin-left: 25px;
	}

	.text {
		clear: auto;
		padding-left: 5px;
		margin-right: 5px;
		margin-top: 405px;
		padding-right: 5%;
		line-height: 25px;
		width: 90%
		color: #777777;
	}

/* This section controls the picture width on the portfolio page*/

	.portfolio-links {
		float: left;
		margin-left: 10px;
		padding-left: 15px;
		padding-right: 15px;
		width: 305px;
		height: 305px;
		margin-bottom: 25px;
	}

	.image-size {
		width: 305px;
		height: 300px;
	}

/* This section controls the content for the Contact page */

	.contact-name {
		width: 90%
	}

	.contact-email {
		width: 90%
	}

	.contact-message {
		width: 90%;
		height: 200px;
	}

/* These control the Connect With Me aside portion */

	.aside {
		float: left;
		width: 96.5%;
		min-width: none;
		max-width: none;
		margin-left: 15px;
		margin-top: 15px;
		margin-right: 15px;
	}

	h3 {
		float: left;
		max-width: 750px;
		margin-left: 5px;
		margin-right: 5px;
		padding-left: 5px;
		padding-right: 72%;
	}

	.link-box {
		width: 95%;
		float: left;
		margin-top: 5px;
		margin-left: 5px;
		padding-top: 1px;
	}

	.connect {
		float: left;
		margin-left: 0px;
		padding: 5px;
	}
}


@media screen and (max-width: 640px) {

/* These control the header boxes on the About Me page */

	.header {
		background-color: #ffffff;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: #cccccc;
		width: 100%;
		height: 105px;
		margin: 0px;
	}

	.name{
		float: none;
		width: 100%;
		top: 0px;
		margin-top: 0px;
		margin-left: 0px;
	}	

	.links {
		width: 60px;
		height: 20px;
		text-align: center;
		text-decoration: none;
		border-right-color: white;
		border-left-color: white;
		margin-top: 20px;
		background-color: white;
		margin-right: 15%;
		margin-left: 10%;
	}

	.links2 {
		float: left;
		width: 60px;
		height: 20px;
		text-align: center;
		text-decoration: none;
		border-right-color: white;
		border-left-color: white;
		margin-top: 20px;
		background-color: white;
		margin-right: 5%;
		margin-left: 4%;
	}

/* These control the content and aside sections of the About Me page*/

/* These control the text of the Main content*/

	h2 {
		margin-bottom: 15px;
	}

	.content {
		width: 93%;
		margin-left: 10px;
		height: 700px;
	}

	.picture {
		float: left;
		width: 90%;
		height: 400px;
		margin-top: 15px;
		margin-left: 25px;
	}

	.text {
		clear: auto;
		padding-left: 5px;
		margin-right: 5px;
		margin-top: 405px;
		padding-right: 5%;
		line-height: 25px;
		width: 90%
		color: #777777;
	}

/* This section controls the content for the Portfolio page */

	.portfolio-links {
		float: left;
		padding-left: 55px;
		padding-right: 15px;
		width: 455px;
		height: 455px;
		margin-bottom: 25px;
	}

	.image-size {
		width: 455px;
		height: 450px;
	}

	.box-length {
		height: 2500px;
	}

/* This section controls the content for the Contact page */

	.contact-name {
		width: 90%
	}

	.contact-email {
		width: 90%
	}

	.contact-message {
		width: 90%;
		height: 150px;
	}

/* These control the Connect With Me aside portion */

	.aside {
		float: left;
		width: 95%;
		min-width: none;
		max-width: none;
		padding-right: 5px;
		margin-left: 10px;
	}

	h3 {
		float: left;
		max-width: 640px;
		margin-left: 5px;
		margin-right: 5px;
		padding-left: 5px;
		padding-right: 70%;
	}

	.link-box {
		width: 95%;
		float: left;
		margin-top: 5px;
		margin-left: 5px;
		padding-top: 1px;
	}

	.connect {
		float: left;
		margin-left: 0px;
		padding: 5px;
	}
}
}
